*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}
body{
  display:flex;
  align-items: center;
  justify-content: center;
  min-height:120vh;
  background:white;
  font-family:'Montserrat';

}
.container{
    width: 500px;
    height: 500px;
    background: #d9d9d9;
    box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.4), -10px 20px 20px 0 rgba(0, 0, 0, 0.4);
    
    align-items: center;
    justify-content: center;
    border-radius: 15px ; 
    padding: 80px;
    margin: auto; 
} 
form{
    align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title{
    font-size: 35px;
    color: #999;
    margin-bottom: 10px;
    text-align: center;

}
.input-field{
    width:280px;
    height: 50px;
    margin: 10px 0;
    align-items: left;
    color: #606060;
    
}
.input-field input{
    outline: none;
    background: none;
    font-size: 20px;
    color: #606060;
    font-weight: 600;
    
}
.word{
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
    margin-left: 30px;
    color: rgba(96, 96, 96, 0.7);
}
#user{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 7px;  
    padding-left: 8px; 
    margin-left: 30px;
    background-color: #606060;
    color: rgba(96, 96, 96, 0.7);
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}  
#email{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 7px;  
    padding-left: 8px; 
    margin-left: 30px;
    background-color: #606060; 
    color: rgba(96, 96, 96, 0.7);
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}  
#password{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 7px;  
    padding-left: 8px;  
    margin-left: 30px;
    background-color: #606060;
    color: rgba(96, 96, 96, 0.7);
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
      
}
label{  
    color: #23463f;  
    font-size: 17px;  
}  
a{
    font-size: 12px;
    background-color: #606060;
    font-weight: 400;
}

.account{
    font-size: 12px;
    text-align: center;
    margin-left: 30px;
    padding: 10px;


}
.pass{
    font-size: 12px;
    margin-left: 200px;
    padding-top: 40px;
}
.X{
    color: rgba(96, 96, 96, 0.7);
    margin-left: 350px;
    margin-top: 0;
    padding-top: 10px;

}
.btn{  
    width: 310px;  
    height: 30px;  
    border: none;  
    border-radius: 7px;  
    margin-left: 30px;
    padding-left: 7px;  
    color: #606060;
     background-color: #f6f6f6;
     transition: .4s ease;
     letter-spacing: 0.1em;
     margin-top: 10px;
    
     
  
}  

.btn:hover{
    color: #333;
    border:none;
    background:#999;
}
.text{
    color:#f0f0f0
}
@media screen and (max-width: 450px){
    .container{
        padding-left: 3rem;
        padding-right: 3rem;
        overflow-y: scroll;
        text-align: center;
        width: 200px;
        height: 300px;
    }
    .input-field{
        width: calc(100%/2 - 15px);
    }
    .input-field label{
        margin-bottom: 5px;
    }
    .btn{
        margin: auto;
    }
}






